HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
logs/
*.log
*.txt


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

logs/


 compile_errors.txt
 curl_out.txt
 err.json
 error.json
 products.json
 revshop_realworld_data.sql

 uploads/

 # Ignore everything in resources
 src/main/resources/*

 # Allow application.properties
 !src/main/resources/application.properties

 # Allow db migration folder
 !src/main/resources/db/
 !src/main/resources/db/migration/
 !src/main/resources/db/migration/*.sql